*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.tmp*
*~
.*.cfg
.coverage
.emacs.*
.project
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
fake-eggs/
htmlcov/
include/
lib/
local/
omelette/
parts/
share/
var/
