[buildout]
extends = 
	buildout.cfg
eggs += zopeskel.dexterity
	templer.dexterity
	mr.developer
	collective.loremipsum
develop = .
extensions = 
    mr.developer
parts += 
    zopeskel
    benchmark-installed
    benchmark-vanilla

[sources]
Products.CMFCore = svn svn://svn.zope.org/repos/main/Products.CMFCore/branches/2.2


[zopeskel]
recipe = zc.recipe.egg
eggs =
   ZopeSkel < 3.0dev
   Paste
   PasteDeploy
   PasteScript
   zopeskel.dexterity
   ${buildout:eggs}
entry-points = paster=paste.script.command:run

# Do not run more than one bench mark in a single process
# since monkeypatches need to be isolated
[benchmark-installed]
<= test
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress', '--tests-pattern=benchmarks', '--layer=Installed']

[benchmark-vanilla]
<= test
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress', '--tests-pattern=benchmarks', '--layer=Vanilla']

