[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.x.cfg

package-name = experimental.securityindexing
package-extras = [test]
versions = versions
parts += omelette
         testall
         zopepy
download-cache = ../buildout-cache

#test-eggs = plone.app.workflow

[versions]
plone.app.testing = 4.2.2
plone.app.contenttypes = 1.1b1

# version pins required for p.a.contenttypes on plone 4.3
# @see https://pypi.python.org/pypi/plone.app.contenttypes/1.1b1#dependencies
plone.dexterity = 2.2.1
plone.app.dexterity = 2.0.11
plone.schemaeditor = 1.3.5
plone.app.event = 1.1b1
plone.app.portlets = 2.5a1

# migration
Products.contentmigration = 2.1.3

[instance]
eggs +=
	plone.app.dexterity [grok,relations]
	plone.app.contenttypes 
	Products.contentmigration

[test]
eggs += mock	
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[testall]
<= test
defaults = ['-s', 'plone.app.workflow', '-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
location = ${buildout:directory}/omelette

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy